.findContainer {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.input {
  margin-top: 6px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 50%;
}

.input:focus-visible {
  outline: 3px solid #007bff;
}
